* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: unset;
  }
  .col-4,
  .col-6 {
    padding: 0 0.5rem;
  }
  #news .list p {
    font-size: 0.875rem !important;
  }
  .main .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .main .row h2 {
    font-size: 1.5rem;
  }
  .main .row .col-6 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .main .row .col-6 .img-mobile {
    padding: 0 27.5% !important;
  }
}

.intro .col-1 {
  flex: 0 0 15%;
  max-width: 15%;
}

.intro .col-11 {
  flex: 0 0 85%;
  max-width: 85%;
  padding: 0;
}

.intro .col-4,
.intro .col-8 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  #schedule .film .info {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .intro .wrapper {
    border: unset !important;
  }
  .intro .row {
    display: flex;
    flex-wrap: unset;
    flex-direction: column;
    margin-left: 0;
  }
  .intro .col-1 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .intro .col-11,
  .intro .col-4,
  .intro .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .intro .wrapper .col-8 {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  #intro .main {
    display: none;
  }
}

#contact {
  background-image: url(../../img/backapp.jpg);
  background-size: contain;
  color: #fff;
}

#contact .main {
  max-width: 58.75rem;
  margin: auto;
  padding: 7.5rem 0 5rem;
}

#contact .row {
  margin-left: 0;
  margin-right: 0;
}

#contact .slide {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#contact .slide .img-mobile {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0 26.5%;
}

#contact .slide .mobile {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
  border: 5px;
}

#contact .slide .slick-list {
  border-radius: 1.25rem;
}

#contact .button {
  background-color: #fb4226;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#contact h2 {
  padding-bottom: 1rem;
}

#contact span {
  text-decoration: underline;
}

#contact span:hover {
  cursor: pointer;
}

#news {
  padding-bottom: 3rem;
}

#news img {
  max-width: 100%;
  border-radius: 5px;
}

#news img:hover {
  cursor: pointer;
}

#news h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#news h5:hover {
  color: #e9572b;
  cursor: pointer;
}

#news p {
  font-size: 0.875rem;
}

#news .item img {
  width: 1.25rem;
  margin: 0.75rem;
  transition: all 0.2s;
}

#news .item img:hover {
  cursor: pointer;
  width: 1.325rem;
}

#news .item {
  color: #b2b2b2;
}

#news .list img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

#news .list p {
  font-size: 1rem;
}

#news .list p:hover {
  color: #e9572b;
  cursor: pointer;
}

#news button {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  padding: 0.5rem 1.785rem;
  border-radius: 5px;
}

#news button:hover {
  background-color: #e9572b;
  color: #fff;
}

#news .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
}

#news .nav-tabs .nav-item .nav-link.active {
  border-color: #fff;
  color: #fa5238;
  font-size: 1.5rem;
}

#news .nav-tabs .nav-item .nav-link {
  color: #000;
  border: unset;
  transition: all 0.2s;
}

#news .nav-tabs .nav-item :hover {
  font-size: 1.5rem;
}

#news .nav-tabs .nav-item {
  font-size: 1.25rem;
}

.intro {
  overflow-x: hidden;
  background-image: url(./../../img/back-news1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 7.5rem;
  padding-bottom: 3.125rem;
}

.intro .wrapper {
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid #ebebec;
  background-color: #fff;
  border-radius: 6px;
  max-height: 44rem;
}

.intro .wrapper .row {
  margin-right: -1px !important;
  max-height: 44rem;
}

.intro .wrapper .col-8 {
  max-height: 44rem;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.intro .wrapper .nav-pills .nav-link.active {
  background-color: transparent;
  color: inherit;
  opacity: 1;
}

.intro .wrapper .nav-link {
  padding: 1rem 1rem;
  position: relative;
  border-right: 1px solid #ebebeb;
  border-radius: 0%;
  opacity: 0.5;
  transition: all 0.3s;
}

.intro .wrapper .nav-link:hover, .intro .wrapper .nav-link:active {
  opacity: 1;
}

.intro .wrapper .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 15%;
  content: "";
  height: 1px;
  background-color: #ebebeb;
  width: 70%;
}

.intro .wrapper .nav-link .details .img {
  padding-right: 0.7rem;
}

.intro .wrapper .nav-link .details .img img {
  width: 3.125rem;
}

.intro .wrapper .nav-link .details .describe {
  font-size: 0.875rem;
}

.intro .wrapper .nav-link .details .describe p {
  color: #000;
  margin: initial;
}

.intro .wrapper .nav-link .details .describe p .green {
  color: #8bc541;
}

.intro .wrapper .nav-link .details .describe p.address {
  font-size: 0.75rem;
  color: #949494;
}

.intro .wrapper .nav-link .details .describe p.moreInfo {
  font-size: 0.75rem;
  color: #fb4226;
}

.intro .wrapper .nav-link .details .red {
  color: #fb4226;
}

.intro .wrapper .nav-link .details .pink {
  color: #df0d7a;
}

.intro .wrapper .nav-link .details .gray {
  color: #9c9c9c;
}

.intro .wrapper .nav-link .details .yellow {
  color: #e5a813;
}

.intro .wrapper .nav-link .details .brown {
  color: #ca4137;
}

.intro .wrapper .big-details {
  padding: 1rem 0px 1rem 0px;
}

.intro .wrapper .big-details .wrapInfo .img {
  padding-right: 1rem;
}

.intro .wrapper .big-details .titleInfo {
  margin-top: 0.3rem;
}

.intro .wrapper .big-details .titleInfo span {
  background-color: #fb4226;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.125rem 0.375rem;
  margin-right: 0.375rem;
  font-size: 0.75rem;
  min-width: 2rem;
  float: left;
}

.intro .wrapper .big-details .titleInfo .movieTitle {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
  overflow: hidden;
  margin: initial;
}

.intro .wrapper .big-details .titleInfo .info {
  line-height: 1.7;
  font-size: 0.75rem;
  color: #9b9b9b;
}

.intro .wrapper .big-details .typeTiming {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ebebeb;
}

.intro .wrapper .big-details .typeTiming .version {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.intro .wrapper .big-details .typeTiming .session a {
  text-decoration: none;
  color: #9b9b9b;
  padding: 0.5rem 0.8rem;
  background-color: #fbfbfb;
  margin: 0 0.625rem 0.625rem 0;
  border-radius: 0.5rem;
  border: 1px solid #9b9b9b;
  display: inline-flex;
  flex-wrap: wrap;
}

.intro .wrapper .big-details .typeTiming .session a span {
  font-size: 1.125rem;
  color: #108f3e;
  font-weight: 600;
}

#schedule {
  max-width: 60rem;
  display: block;
  padding-bottom: 2rem;
}

#schedule .slider p {
  background-color: transparent;
}

#schedule .film {
  padding: 0 0.75rem;
  top: 0;
}

#schedule .film img {
  width: 100%;
  border-radius: 0.5rem;
}

#schedule .film .play {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 40%;
}

#schedule .film .play i {
  width: 3rem;
  height: 3rem;
  font-size: 0.75rem;
}

#schedule .film .rate_top {
  background-color: rgba(12, 27, 54, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0 5px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#schedule .film .rate_top .star img {
  max-width: 0.5rem;
}

#schedule .film .rate_top .star {
  margin: 0;
  padding-bottom: 0.5rem;
}

#schedule .film .rate {
  background-color: rgba(12, 27, 54, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0 5px;
  position: absolute;
  bottom: 3rem;
  right: 1rem;
}

#schedule .film .rate .star img {
  max-width: 0.5rem;
}

#schedule .film .rate .star {
  margin: 0;
  padding-bottom: 0.5rem;
}

#schedule .film .hover {
  position: absolute;
  top: 0.5rem;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  padding: 0.625rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

#schedule .film .hover a {
  color: #fff;
  text-decoration: none;
}

#schedule .film .info {
  visibility: visible;
  opacity: 1;
  font-weight: bold;
  color: #000;
  font-size: 0.75rem;
}

#schedule .film .info .minutes {
  font-size: 0.675rem;
  color: #4a4a4a;
}

#schedule .film :hover {
  cursor: pointer;
}

#schedule .film :hover .play {
  opacity: 1;
}

#schedule .film:hover .hover {
  visibility: visible;
  opacity: 1;
}

#schedule .film:hover .info {
  visibility: hidden;
  opacity: 0;
}

#schedule .red,
#schedule .green {
  border: 1px solid transparent;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 0.825rem;
}

#schedule .green {
  background-color: #00ac4d;
  padding: 0 0.7rem;
}

#schedule .red {
  background-color: #fb4226;
  padding: 0 0.2rem;
}

#schedule .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
}

#schedule .nav-tabs .nav-item .nav-link.active {
  border-color: #fff;
  color: #fa5238;
  font-size: 1.5rem;
}

#schedule .nav-tabs .nav-item .nav-link {
  color: #000;
  border: unset;
  transition: all 0.2s;
}

#schedule .nav-tabs .nav-item :hover {
  font-size: 1.5rem;
}

#schedule .nav-tabs .nav-item {
  font-size: 1.25rem;
}
/*# sourceMappingURL=style.css.map */