@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .container {
    max-width: unset;
  }
  .col-4,
  .col-6 {
    padding: 0 0.5rem;
  }
  #news .list p {
    font-size: 0.875rem !important;
  }
  .main .row {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-size: 1.5rem;
    }
    .col-6 {
      flex: 0 0 80%;
      max-width: 80%;
      .img-mobile {
        padding: 0 27.5% !important;
      }
    }
  }
}
.intro {
  .col-1 {
    flex: 0 0 15%;
    max-width: 15%;
  }
  .col-11 {
    flex: 0 0 85%;
    max-width: 85%;
    padding: 0;
  }
  .col-4,
  .col-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #schedule {
    .film .info {
      display: none;
    }
  }
}
@media screen and (max-width: 680px) {
  .intro {
    .wrapper {
      border: unset !important;
    }
    .row {
      display: flex;
      flex-wrap: unset;
      flex-direction: column;
      margin-left: 0;
    }
    .col-1 {
      flex: 0 0 30%;
      max-width: 30%;
    }
    .col-11,
    .col-4,
    .col-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wrapper .col-8 {
      padding-left: 1rem;
    }
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 480px) {
  #intro .main {
    display: none;
  }
}
