#intro {
  .scroll {
    overflow: scroll;
    height: 40rem;
  }
  .col-1 {
    padding-right: 0;
    height: 40rem;
  }
  .col-1 .nav-link img {
    height: 3rem;
    opacity: 0.7;
  }

  .col-1 img:hover,
  .col-1 img:first-child {
    opacity: 1;
  }
  .col-4 {
    padding-right: 0;
    height: 40rem;
    img {
      height: 3rem;
      margin: 0.375rem;
    }
    hr {
      width: 85%;
    }
    p {
      margin-bottom: 0;
      font-size: 0.875rem;
    }
    span {
      font-weight: bold;
      font-size: 0.875rem;
    }
    a {
      color: #e9572b;
      text-decoration: none;
      font-size: 0.785rem;
    }
    b {
      color: #b2b2b2;
      font-weight: normal;
      font-size: 0.785rem;
    }
  }
  .nav-link {
    opacity: 0.7;
  }
  .nav-link:hover,
  .nav-link.active {
    opacity: 1;
  }
  .nav-tabs .nav-link {
    border: none;
    padding: 0.5rem 0 0 0;
  }
  .col-7 .item {
    margin: 0.875rem 0;
    font-size: 0.785rem;
    .info {
      font-weight: 500;
    }
    img {
      height: 3rem;
      margin: 0.375rem;
    }
    hr {
      width: 85%;
    }
    .minutes {
      color: #b2b2b2;
    }
    h5 {
      font-size: 0.875rem;
    }
    .bot {
      flex-wrap: wrap;
    }
    .time {
      font-weight: 300;
      margin: 0.25rem;
      border-radius: 5px;
      padding: 0.35rem 0.5rem;
      background-color: #fafafa;
      b {
        color: #00ac4d;
        font-size: 1rem;
      }
      span {
        color: #b2b2b2;
        font-size: 0.75rem;
      }
    }
    @include colorP();
  }
  .col-11 {
    padding-left: 0;
  }
  .bhd {
    color: #8ec646;
  }
  .cns {
    color: #df0d7a;
  }
  .ddc {
    color: #9c9c9c;
  }
  .mega {
    color: #e5a813;
  }
  .dcine {
    color: #000;
  }
  .lotte {
    color: #ca4137;
  }
  .bg {
    background: url(../../img/back-news1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 10rem;
  }
}
